.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.custom-askTheUniverse {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: #3ba1c8;
  padding: 10px 22px;
  margin-left: 10px;
  color: white;
  border: none;
}

.jumbotron {
  background-color: #3ba1c8 !important;
  color: #fff !important;
}

.jumbo-txt-lg {
  font-size: 62px;
}

.jumbo-txt-sm {
  font-size: 22px;
}

.ask-container {
  background-color: #f5f5f5;
  margin-top: 20px;
  padding: 20px;
  
}

.ask-btn {
  margin-top: 20px;
}

.response {
  margin-top: 30px;
  padding: 10px;
  background-color: #f6f6f6;
  margin-bottom: 20px;
}

.buttons-container {
  margin-top: 20px;
}

.custom-btn-answer {
  margin-left: 10px;
}

.helloUserP {
  text-align: start;
  margin-left: 6px;
  font-size: 1.1em;
}