.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.custom-askTheUniverse {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: #3ba1c8;
  padding: 10px 22px;
  margin-left: 10px;
  color: white;
  border: none;
  border-radius: 20px;
}
