.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.smaller-avatar {
  width: 120px;
  height: 120px;
  margin: 10px;
  object-fit: cover;
}

.about-us {
  text-align: justify;
}

.as-link {
  font-weight: bold;
  color: #3ba1c8;
  text-decoration: none;
}

.edx-link {
  color: #fb5543;
  text-decoration: none;
  font-weight: bold;
}

.gh-logo {
  color: #000;
  margin-bottom: "3px";
}

.contact-container {
  padding: 15px;
  background-color: #f5f5f5;
}

.contact-container h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.send-btn {
  margin-top: 20px;
}

.envelope-icon {
  margin: 0 0 3px 5px;
}

.heart-icon {
  vertical-align: middle;
  color: #3ba1c8;
}

.appName {
  color: #3ba1c8;
  text-decoration: none;
}