.custom-nav {
  background-color: #F5F5F5;
  
}

.custom-brand {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.custom-toggler {
  border-color: transparent;
}

.custom-collapse {
  background-color: #F5F5F5;
}

.app-logo {
  height: 50px;
  margin-right: 10px;
}

@media (min-width: 992px) {
  .custom-nav .navbar-nav {
    margin-right: 15px;
  }
}

@media (max-width: 991.99px) {
  .login-btn {
    margin-top: 15px;
  }
}